.doodle-controller {
  background-color: white;
  width: 100%;
}

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.color-options {
  width: 100%;
  background-color: #fff;
  display: grid;
  grid-template-columns: 18px 18px;
  grid-row: auto auto;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  border-radius: 4px;
  padding: 6px;
  margin-bottom: -7px;

  .color-select {
    padding: 9px;
    border-radius: 4px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    box-shadow: 0 0 0 0 #dcdcdc;
    transition: box-shadow 200ms ease;

    &.active {
      box-shadow: 0 0 0 3px #dcdcdc;
    }
  }
}

.icon-only {
  padding: 8px!important;

  img {
    vertical-align: middle;
  }
}

.footer {
  margin-top: 12px;
}

.color-1 {
  background: var(--doodle-color-1);
}

.color-2 {
  background: var(--doodle-color-2);
}

.color-3 {
  background: var(--doodle-color-3);
}

.color-4 {
  background: var(--doodle-color-4);
}
