<div class="doodle-controller">
  <div class="controls">
    <div class="left">
      <button
        class="btn-alt icon-only"
        matTooltipShowDelay="350"
        matTooltip="Undo last stroke"
        (click)="undo.emit(true)"
      >
        <img
          src="/assets/icons/undo.svg"
          alt="undo"
          width="27"
          height="27"
        />
      </button>
    </div>
    <div class="right">
      <div class="color-options">
        <div
          [class.active]="color == doodleColor1"
          matTooltipShowDelay="350"
          matTooltip="Change color to #212121"
          class="color-select color-1"
          (click)="colorChange.emit(doodleColor1)"
        ></div>
        <div
          [class.active]="color == doodleColor2"
          matTooltipShowDelay="350"
          matTooltip="Change color to #FF555F"
          class="color-select color-2"
          (click)="colorChange.emit(doodleColor2)"
        ></div>
        <div
          [class.active]="color == doodleColor3"
          matTooltipShowDelay="350"
          matTooltip="Change color to #3494FF"
          class="color-select color-3"
          (click)="colorChange.emit(doodleColor3)"
        ></div>
        <div
          [class.active]="color == doodleColor4"
          matTooltipShowDelay="350"
          matTooltip="Change color to #FFC93B"
          class="color-select color-4"
          (click)="colorChange.emit(doodleColor4)"
        ></div>
      </div>
    </div>
  </div>
  <div class="footer">
    <button class="btn-standard" (click)="submitDoodle()">Submit your doodle</button>
  </div>
</div>
