<div class="doodle-controller">
  <div class="controls">
    <div class="left">
      <button
        class="btn-alt icon-only"
        matTooltipShowDelay="350"
        matTooltip="Undo last stroke"
        (click)="undo.emit(true)"
      >
        <img
          src="https://simonkomlos.com/assets/controller/undo.svg"
          alt="undo"
        />
      </button>
    </div>
    <div class="right">
      <div class="color-options">
        <div
          [class.active]="color == '#212121'"
          matTooltipShowDelay="350"
          matTooltip="Change color to #212121"
          class="color-select black"
          (click)="colorChange.emit('#212121')"
        ></div>
        <div
          [class.active]="color == '#FF555F'"
          matTooltipShowDelay="350"
          matTooltip="Change color to #FF555F"
          class="color-select red"
          (click)="colorChange.emit('#FF555F')"
        ></div>
        <div
          [class.active]="color == '#3494FF'"
          matTooltipShowDelay="350"
          matTooltip="Change color to #3494FF"
          class="color-select blue"
          (click)="colorChange.emit('#3494FF')"
        ></div>
        <div
          [class.active]="color == '#FFC93B'"
          matTooltipShowDelay="350"
          matTooltip="Change color to #FFC93B"
          class="color-select yellow"
          (click)="colorChange.emit('#FFC93B')"
        ></div>
      </div>
    </div>
  </div>
  <div class="footer">
    <button class="btn-standard">Submit your doodle</button>
  </div>
</div>
