.btn-alt {
  font-family: GothamRounded, Arial;
  display: inline-block;
  font-weight: 700;
  font-size: 16px;
  color: var(--blue);
  background: #fff;
  border-radius: 6px;
  border: solid #dcdcdc;
  border-width: 2px 2px 4px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  transition: 0.15s ease-in-out;
  position: relative;
  padding: 8px 16px;
  cursor: pointer;
  outline: none;
  width: 100%;
  text-align: center;

  &:active {
    background: #f6f6f6;
    border-bottom: 2px solid #dcdcdc;
    border-radius: 6px;
    margin-bottom: 2px;
  }
}

.btn-standard {
  font-family: GothamRounded, Arial;
  display: inline-block;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  background: var(--blue);
  border-radius: 6px;
  border: 2px solid var(--blue);
  border-bottom: 4px solid var(--blue-dark);
  letter-spacing: 0.06em;
  text-transform: uppercase;
  transition: 0.15s ease-in-out;
  position: relative;
  padding: 8px 16px;
  cursor: pointer;
  outline: none;
  width: 100%;
  text-align: center;

  &:active {
    background: var(--blue);
    border-bottom: 2px solid var(--blue);
    border-radius: 6px;
    margin-top: 2px;
  }
}

.btn-pill {
  background: #fff;
  border: solid #dcdcdc;
  border-width: 2px 2px 3px;
  border-radius: 59px;
  padding: 2px 4px;
  transition: 0.1s ease-in-out;
  outline: none;
}

.input-field {
  border: 2px solid #dcdcdc;
  outline: none;
  padding: 12px;
  border-radius: 6px;
  width: 100%;
  font-weight: 600;
  margin-bottom: 24px;
  color: #484848;
  font-family: var(--default-font);
  font-size: 16px;

  &::placeholder {
    color: #dcdcdc;
  }
}
