<ng-whiteboard size="10px" class="whiteboard"></ng-whiteboard>

<div *ngIf="isHandset$ | async; then mobile; else desktop"></div>

<ng-template #desktop>
  <div class="phone-frame">
    <div class="phone-item">
      <app-mobile></app-mobile>
    </div>
    <div class="description body">
      <i>Optimized for mobile</i>
    </div>
  </div>

  <doodle-controller></doodle-controller>
</ng-template>

<ng-template #mobile>
  <div class="mobile-container">
    <app-mobile></app-mobile>
  </div>
</ng-template>
