.whiteboard {
  width: 100%;
  height: 100%;
  position: absolute;
}

.phone-frame {
  display: block;
}

.phone-item {
  background: #fff;
  border: 2px solid #dcdcdc;
  box-shadow: 0 0 60px rgb(0 0 0 / 12%);
  border-radius: 8px;
  width: 365px;
  height: calc(100% - 20vh);
  position: absolute;
  top: 6vh;
  left: 8vh;
  cursor: auto;
  overflow: scroll;
  overflow-x: hidden;
}

.mobile-container {
  position: absolute;
  overflow-y: auto;
  max-height: 100%;
  height: 100%;
}