<div class="container body">
  <div class="item frame">
    <div class="hero">
      <img
        src="/assets/lowpoly.png"
        width="317"
        height="71.3"
        alt="Hero image"
      />
    </div>
    <div class="headshot">
      <img src="/assets/profile.jpg" alt="Anders Kok" />
    </div>
    <h1 class="heading">Hi I'm Anders!</h1>
    <p>
      I've founded startups that were acquired, worked as a lead designer and
      developer on neat projects, and dabbled in several other things here and
      there.
      <br />
      <br />
      I am currently the Chief Design Officer at Zogo Finance.
      <br />
      <br />
      Thanks for checking out my website,
      <br />
      <img
        src="/assets/signature.png"
        width="116"
        height="22"
        class="signature"
        alt="Anders Kok"
      />
    </p>
  </div>
  <div class="item about">
    <h1 class="heading">About me</h1>
    <p class="body">
      I'm Simon, a 25-year-old designer and developer. I was born in Hungary,
      lived in Munich, Germany for 15 years while attending a European school
      focused on language. I now live in Durham, North Carolina. I love coding
      and designing; I'm lucky that I can consider it a hobby as well as my
      profession. I use design to create solutions that can positively impact
      the world.
      <br />
      <br />
      I started learning to code at 12-years-old and have been adding to my
      knowledge almost everyday since. I went to university for Computer Science
      (with a minor in Entrepreneurship & Math). I stopped after two and a half
      years as my personal projects were growing very nicely and I had a couple
      great job opportunities on the table.
      <br />
      <br />
      I enjoy building and creating things. I am constantly striving to improve
      my skills and for me that comes in the form of practicing.
    </p>
  </div>
</div>
