/* You can add global styles to this file, and also import other style files */
@import "./styles/cool-styles.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

*::-webkit-scrollbar-track {
  background: #ebebeb;
  border: 0 #fff;
  border-radius: 39px;
}

*::-webkit-scrollbar-thumb {
  background: #8a8a8a;
  border: 0 #fff;
  border-radius: 50px;
}

// Text stuff
:root {
  --text-default: #747474;
  --text-dark: #484848;
  --blue: #0a6ee0;
  --blue-dark: #035cc2;
  --default-font: GothamRounded, Helvetica;
}

@font-face {
  font-family: GothamRounded;
  font-style: normal;
  font-weight: 500;
  src: url("/assets/fonts/GothamRounded-Medium.otf");
  font-display: swap;
}
@font-face {
  font-family: GothamRounded;
  font-style: normal;
  font-weight: 600;
  src: url("/assets/fonts/GothamRounded-Bold.otf");
  font-display: swap;
}
@font-face {
  font-family: GothamRounded;
  font-style: italic;
  font-weight: 600;
  src: url("/assets/fonts/GothamRounded-MediumItalic.otf");
  font-display: swap;
}
@font-face {
  font-family: GothamRounded;
  font-style: normal;
  font-weight: 400;
  src: url("/assets/fonts/GothamRounded-Book.otf");
  font-display: swap;
}

.body {
  font-family: var(--default-font);
  font-size: 16px;
  font-weight: 500;
  color: var(--text-default);
}

.small,
small {
  font-family: var(--default-font);
  font-size: 14px;
  font-weight: 500;
  color: var(--text-default);
}

a {
  text-decoration: none;
  color: var(--blue);

  &:hover {
    color: var(--blue-dark);
    cursor: pointer;
  }
}

.heading {
  font-family: var(--default-font);
  font-weight: 600;
  color: var(--text-dark);
  font-size: 18px;
  margin-bottom: 16px;
}

html,
body {
  height: 100%;
}
body {
  line-height: 22px;
  font-family: var(--default-font);
}

#draw-frame {
  .line {
    mix-blend-mode: multiply;
    opacity: 0.98;
  }

  svg {
    cursor: url("/assets/icons/cursor.svg") 5 5, crosshair !important;
  }
}

.doodle-submit > .mat-dialog-container {
  padding: 0;
  border-radius: 8px;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
